.header{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin-bottom: 10px;
    /* padding: 3rem 1rem; */
}
.header-text{
    padding: 0rem 2rem;
    font-size: larger;
}
@media only screen and ( max-width:600px) {
    .header{
        display: flex;
        flex-direction: column;
       justify-content: center;
       margin: 0 auto;
       text-align: center;
       padding: 10px 30px;
        /* padding: 3rem 1rem; */
    }
    .header-img img{
        width: 400px;
        height: 100%;
    }
    .header-text{
        padding: 0rem 2rem;
        font-size: medium;
    }
}
@media only screen and ( min-width:600px) {
    
    .header-img img{
        width: 400px;
        height: 100%;
    }
    .header-text{
        padding: 0rem 2rem;
        font-size: medium;
    }
}
@media only screen and ( min-width:992px) {
    
    .header-img img{
        width: 100%;
       
    }
    .header-text{
        padding: 0rem 2rem;
        font-size: medium;
    }
}