<div class="container">
    <div class="contact">
        <div class="contact_text">
            <h1>We’d Love to Hear From You!</h1>
            <p>Got a question, suggestion, or just want to say hello? Our team is here and happy to help.</p>
        </div>
        <form>
            <input type="text" placeholder="Name" name="username" [(ngModel)]="name">
            <input type="email" placeholder="Email" name="user_mail" [(ngModel)]="email">
            <textarea rows="7" placeholder="Message" name="message" [(ngModel)]="message"></textarea>
            <button>Submit</button>
        </form>
    </div>
</div>