.container{
    background-color: #ddd;
    height: 100vh;
   
}

.contact{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
.contact_text{
    padding: 1rem 0rem;
}
.contact_text p{
    font-size: small;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem 0rem;
}
input, textarea{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(196, 208, 219);
}
button{
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    padding: 1rem;
    border: none;
    background-color: #02465f;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    width: 20%;
    color: white;
}