.container{
    background-color: #ddd;
    height: 100vh;
   
}

.contact{
    margin: 0 auto;
    width: 60%;
  
}    
.contact_text{
    padding: 1rem 0rem;
}
.contact_text p{
    font-size: small;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
input[type='text'], textarea{
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    
}
button{
    display: flex;
    justify-content: center;
   
    padding: 1rem;
    border: none;
    background-color: #02465f;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    width: 100%;
    color: white;
}
.radio_btn{
    display: flex;
    margin: 20px 0px;
}
.radio_btn input{
    margin-left: 20px;
}
input.ng-invalid.ng-touched{
    border: solid 1px red;
}
small{
    color: red;
}